.main {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 padding: 6rem;
 min-height: 100vh; 
 background-color: #70a9ff;
}
.calculadora {
  min-width: 500px;
 max-width: 800px;
 margin: auto;
 padding: 20px;
 border: 1px solid #daa4a4;
 border-radius: 5px;
 background-color: #fff;

 justify-content: center;
}
.numeros {
 margin-bottom: 10px;
}
.text {
 display: block;
 margin-bottom: 5px;
 font-size: large;
 text-align: center;
}
.foot{
   display: block;
 margin-bottom: 5px;
 font-size: 25px;
 text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #fff;
}
.titulo{
   display: block;
 margin-bottom: 5px;
 font-size: 50px;
 text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #110404;
}
.inputnum {
 width: 100%;
 padding: 8px;
 border: 1px solid #ccc;
 border-radius: 5px;
}
.button {
 font-size: 1.2em;
 padding: 10px;
 margin-right: 10px;
 border: 1px solid #5ff3ba;
 border-radius: 5px;
 cursor: pointer;
 background-color: #31e767;
}
.resultado {
 margin-top: 10px;
 font-weight: bold;
}
.botones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
